@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="article-container">
            <article class="card">
                <header class="card-header">
                    <div class="header-icon">
                        <img src="~/img/tmpIcon.jpg" />
                    </div>
                    <div class="header-name">

                    </div>
                </header>
                <div class="card-img">

                </div>
                <div class="card-botttom">

                </div>

            </article>
        </div>

    </div>
</div>