
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="article-container">
                <article class="card mb-4 shadow-sm">
                    <header class="card-header">
                        <div class="header-icon">
                            <img src="~/img/tmpIcon.jpg"/>
                        </div>
                        <div class="header-name">

                        </div>
                    </header>
                    <div class="card-img">
                        <img src="~/img/white2115.jpg"  style="max-height:100%; max-width:100%"/>
                    </div>
                    <div class="card-bottom">

                    </div>

                </article>

                <article class="card mb-4 shadow-sm">
                    <header class="card-header">
                        <div class="header-icon">
                            <img src="~/img/tmpIcon.jpg" />
                        </div>
                        <div class="header-name">

                        </div>
                    </header>
                    <div class="card-img">

                    </div>
                    <div class="card-bottom">

                    </div>

                </article>
            </div>

        </div>
    </div>



</div>

