@model petogram.Models.ApplicationUser
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <header class="profile-header">
        <div class="profile-picture-cont">
            <div class="profile-picture-box">
                <button class="profile-pic-button">
                    <img class="be6sR" src="~/img/xd.jpg" style="max-height:100%; max-width:100%" />
                </button>
            </div>
            
        </div>
        <section class="header-section">
            <div class="header-box">
                <h1 class="fKFbl" style="float:left;">@Model.Name</h1>
                <a href="#">
                    <button  class="btn btn-info">Edit</button>
                </a>
            </div>
            <div class="bio">
                siema ja gej
            </div>
            <div class="profile-li">
                <ul>
                    <li>
                        Posts:
                    </li>
                    <li>
                        Followers:
                    </li>
                    <li>
                        Followees:
                    </li>
                </ul>
            </div>

        </section>
    </header>



    <div class="row">
        @foreach (var p in Model.Posts)
        {
            <div class="col-md-4">
                <div class="profile-post">
                    <img src="@Url.Content(p.Img)" style="max-height:100%; max-width:100%"/>
                </div>
            </div>
        }
    </div>

</div>

